@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Poppins:wght@300&family=Ubuntu&display=swap');
$main-color: #f7f7f7;
$main-text-color: #333;
$main-font: 'Poppins', sans-serif;
$navbar-color: #051367;
$navbar-text-color: #f7f7f7;
$navbar-link-hover-color: #a9c3ff;
$navbar-text-font: 'Ubuntu', sans-serif;
$navbar-font: 'Inconsolata', monospace;
$heading-color: #5d8bf4;
$hover-color: #2d31fa;

$primary-color: #dff6ff;
$secondary-color: #a9c3ff;
$third-color: #5d8bf4;
$fourth-color: #2d31fa;
$fifth-color: #051367;

$general-padding: 0.8rem;
$general-margin: 0.8rem;
